export(pairwise_adonis)
export(runRanacapaApp)
importFrom(stats,p.adjust)
importFrom(utils,combn)
importFrom(vegan,adonis)
importFrom(vegan,vegdist)
exportPattern("^[[:alpha:]]+")
importFrom("methods", "as")
importFrom("stats", "filter", "p.adjust", "aov", "as.formula", "TukeyHSD", "as.dendrogram", "hclust")
importFrom("utils", "combn")
importFrom("magrittr","%>%")
importFrom("ggplot2", "ggplot", "aes", "xlab", "ggtitle", "geom_tile", "geom_text", "geom_boxplot", "labs", "geom_line", "geom_ribbon", "element_blank", "theme", "theme_bw", "facet_wrap", "aes_string", "element_text")
importFrom("dplyr", "select_if", "select", "everything", "mutate", "group_by", "summarize_if", "funs", "matches", "summarize_all", "mutate_if")
importFrom("reshape2", "colsplit")
importFrom("phyloseq", "rarefy_even_depth", "sample_data", "plot_richness", "estimate_richness", "distance", "ordinate", "plot_ordination", "make_network", "plot_network", "get_variable", "otu_table", "tax_table", "phyloseq", "merge_phyloseq", "taxa_are_rows")
importFrom("vegan", "adonis", "betadisper", "rarefy", "vegdist")
importFrom("tibble", "column_to_rownames", "rownames_to_column")
importFrom("shiny", "renderUI", "req", "fileInput", "selectInput", "radioButtons", "sliderInput", "reactive", "renderDataTable", "renderTable", "renderPlot", "renderPrint", "shinyUI", "bootstrapPage", "headerPanel", "sidebarPanel", "conditionalPanel", "uiOutput", "mainPanel", "tabsetPanel", "tabPanel", "h3", "h4", "p", "a", "dataTableOutput", "tableOutput", "verbatimTextOutput")
importFrom("shinythemes", "shinytheme")
importFrom("plotly", "renderPlotly", "ggplotly", "layout", "plotlyOutput")
# importFrom("gridBase")
# importFrom("broom")
# importFrom("gridExtra")
importFrom("scales", "col_factor")
importFrom("heatmaply", "heatmaply")
# importFrom("ggdendro")
importFrom("parallel", "mclapply")

